{% extends 'base.html' %}
{% load static %}
{% block content %}
     <h1 class="search-heading">Dictionary Search</h1>
     <form method="get">
         <input type="text" name="q" placeholder="Search for a word" value="{{ query }}" class="search-form">
         <button type="submit" class="search-button">Search</button>
     </form>
     {% if results %}
     <ul>
         {% for word in results %}
             <li>
                 <p class="search-word">Word : {{ word.word }}</p>
             </li>
             <li>
                 <p class="search-definition">Definition : {{ word.definition }}</p>
             </li>
             <li>
                <p class="search-synonymns">Synonymns : {{ word.synonymns }}</p>
            </li>
             </li>
             <li>
                 <a href="{% url 'web:update_word' word.id %}"><button class="update-button">Update Word</button></a>
             </li>
         {% endfor %}
    </ul>
    {% elif no_results %}
        <p class="no-word-found">No word found</p>
    {% endif %}
    <br />
    <a href="{% url 'web:add_word' %}"><button class="add-button">Add Word</button></a>
{% endblock %}
