{% extends 'base.html' %}
{% load static %}
{% block content %}
     <h1>Dictionary Search</h1>
     <form method="get">
         <input type="text" name="q" placeholder="Search for a word" value="{{ query }}">
         <button type="submit">Search</button>
     </form>
     {% if results %}
     <ul>
         {% for word in results %}
             <li style="list-style: none;">
                 <p>Word: {{ word.word }}</p>
             </li>
             <li style="list-style: none;">
                 <p>Definition: {{ word.definition }}</p>
             </li>
             <li style="list-style: none;">
                <p>Synonyms: {{ word.synonymns }}</p>
            </li>
             </li>
             <li style="list-style: none;">
                 <a href="{% url 'web:update_word' word.id %}"><button>Update Word</button></a>
             </li>
         {% endfor %}
    </ul>
    {% elif no_results %}
        <p>No word found.</p>
    {% endif %}
    <br />
    <a href="{% url 'web:add_word' %}"><button>Add Word</button></a>
{% endblock %}
